@model IEnumerable<Vidly2.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Customers</h1>
@using (Html.BeginForm("Edit", "Customer", new { id = 0 }))
{
    <button type="submit" class="btn btn-default">New Customer</button>
}


    <table id="customers" class="table table-hover table-­bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var customer in Model)
            {
                <tr>
                    <td> @Html.ActionLink(customer.Id.ToString(), "Edit", new { id = customer.Id }, null)</td>
                    <td> @customer.Name</td>
                    <td> <button customerId="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }*@
        </tbody>
    </table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable({
                ajax: {
                    url: "../api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, customer) {
                            return "<a href='/Customer/Edit/" + customer.id + "'>" + customer.id + "</a>";
                        }
                    },
                    {
                        data: "name"                        
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button customerId = " + data + " class='btn-link js-delete'>Delete</button>";
                        }
                    }
                ]
            });
            $("#customers").on("click", ".js-delete", function () {
                var btn = $(this);
                bootbox.confirm("Are you sure to delete this customer?", function (result) {                 
                    if (result) {
                        $.ajax({
                            url: "../api/customers/" + btn.attr("customerId"),
                            method: "DELETE",
                            success: function () {
                                btn.parents("tr").remove();
                            }
                        });
                    }
                }); 
            });
        });
    </script>
}